*, html, body {
	margin: 0;
	padding: 0;
} 
.visually-hidden { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
h1, h2, h3, h4 {
    color: #ba3925;
}
h1 { font-size: 2em; }

h2 { font-size: 1.5em;  margin-top: 40px; margin-bottom: 20px;}

h3 { font-size: 1em;  margin-bottom: 15px; margin-top: 15px;}

h4 { font-size: 1em; margin-bottom: 10px; margin-top: 10px;}

#container {
	margin: auto 0;
	padding: 0;
	background-color: white;
}
nav {
    
}
#footer {
	
}
article {
	min-height: 700px;
    float: right;
    width: 70%;
    padding: 0 5%;
}
article header {
    min-height: 100px;
}
article header h1{
    padding-top: 20px;
}
footer {
	max-height: 100px;
}
aside {
	float: left;
    position: fixed;
	width: 20%;
    height: 100%;
	background-color: #3399CC;
    margin: 0;
    padding: 0;
}
#leftUp {
	height: 150px;
}
#space {
	height: 1px;
	background-color: white;
    padding: 0;
    margin: 0;
}
#leftDown {
    height: 726px;
	overflow-y: scroll;
    padding-top: 50px;
}
.liquidStr {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -85px;
    font-size: 36px;
    font-weight: bold;
}
.liquidStr a {
    color: #ffffff;
    text-decoration: none;
}
#content {
	min-height: 500px;
	position: relative;
    background-color: white;
}
a { text-decoration:none; 
	color:#333
}
#postList {
	position: relative;
	left: 0;
    top: 0;
    width: 20%;
    margin-top: 0;
    margin-left: 70px;
}
ul {
    
	list-style:none;
    width: 200px;
    margin-bottom: 40px;
    font-weight: normal; 
    font-size: 0.9em;
}
.section__header { 
    font-weight: bold; 
    font-size: 1.5em; 
    text-decoration: none; 
    color: #ffffff; 
    margin-bottom: 30px;
    margin-top: 0;
}
li a {
    position: relative;
    left: 20px;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    opacity: 0.75;
    display: inline-block; 
    margin-top: 10px;
}
li a:hover { 
    opacity: 1;
    opacity: 1;
}
table { width: 100%; overflow: auto; display: block; margin: 15px 0; border-collapse: collapse; /* Don't use a margin on code samples within tables */ }
table thead { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
table th { border: 1px solid #ddd; padding: 6px 13px; font-weight: bold; text-align: center; }
table tbody { vertical-align: middle; border-color: inherit; }
table tr { border-top: 1px solid #ccc; background-color: #fff; vertical-align: inherit; }
table td { border: 1px solid #ddd; padding: 6px 13px; }
table pre { margin-bottom: 0; }
p { line-height: 1.8; }
pre, code { 
    font-size: 15px; 
    border-radius: 3px; 
    overflow-x: scroll;
}

code { 
    padding: 1px 5px; 
    background-color: #edf9ff;
}

pre { padding: 8px 12px; border: 1px solid #B4DCED; word-wrap: break-word; background-color: black;}
pre > code { border: 0; padding-right: 0; padding-left: 0; background-color: black;}

blockquote { color: #ababab; border-left: 2px solid #dedede; padding-left: 20px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }





