*, html, body {
	margin: 0;
	padding: 0;
} 
h1 { font-size: 2em; }

h2 { font-size: 1.5em;  margin-top: 40px; margin-bottom: 20px;}

h3 { font-size: 1em;  margin-bottom: 15px; margin-top: 15px;}

h4 { font-size: 1em; margin-bottom: 10px; margin-top: 10px;}
#container {
	margin: auto 0;
	padding: 0;
	background-color: greenyellow;
}
#header {
	
}
#content {
	
}
#footer {
	
}
#left {
    position: fixed;
	float: left;
	width: 20%;
    height: 100%;
	background-color: #3399CC;
}
#right {
	float: right;
	width: 80%;
}
#leftUp {
	height: 150px;
}
#space {
	height: 1px;
	background-color: white;
}
#leftDown {
    height: 726px;
	overflow: scroll;
}
.liquidStr {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -85px;
    font-size: 36px;
    font-weight: bold;
}
.liquidStr a {
    color: #ffffff;
    text-decoration: none;
}
#contentMark {
	position: relative;
	margin: auto 10%;
	margin-top: 100px;
}
a { text-decoration:none; 
	color:#333
}
#postList {
	position: relative;
	left: 50%;
	margin-top: 30px;
	margin-left: -50px;
    margin-bottom: 200px;
}
ul {
    
	list-style:none;
    width: 200px;
    margin-bottom: 40px;
    font-weight: normal; 
    font-size: 0.9em;
}
.section__header { 
    font-weight: bold; 
    font-size: 1.5em; 
    text-decoration: none; 
    color: #ffffff; 
    margin-bottom: 30px;
}
li a {
    position: relative;
    left: 20px;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    opacity: 0.75;
    display: inline-block; 
    margin-top: 10px;
}
li a:hover { 
    opacity: 1;
    opacity: 1;
}
table { width: 100%; overflow: auto; display: block; margin: 15px 0; border-collapse: collapse; /* Don't use a margin on code samples within tables */ }
table thead { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
table th { border: 1px solid #ddd; padding: 6px 13px; font-weight: bold; text-align: center; }
table tbody { vertical-align: middle; border-color: inherit; }
table tr { border-top: 1px solid #ccc; background-color: #fff; vertical-align: inherit; }
table td { border: 1px solid #ddd; padding: 6px 13px; }
table pre { margin-bottom: 0; }
p { line-height: 1.8; }
pre, code { 
    font-size: 15px; 
    border-radius: 3px; 
}

code { 
    padding: 1px 5px; 
    background-color: #edf9ff;
}

pre { padding: 8px 12px; border: 1px solid #B4DCED; word-wrap: break-word; background-color: black;}
pre > code { border: 0; padding-right: 0; padding-left: 0; background-color: black;}

blockquote { color: #ababab; border-left: 2px solid #dedede; padding-left: 20px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }





